


body{
    background: rgba(179,220,237,1);
background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));
background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
}

section {
    box-sizing: border-box;
    padding: 1% 5%;
}

.carousel-item div h4{
    color: white;
    -webkit-text-stroke: 1px black;

}

.carousel-item img{
    size: auto;
}

nav{
    background-color: transparent;
}


h2{
    font-family : "Lobster", cursive;
    text-align: center;
}

article a{
    color: black;
}

.header {
    color: black;
    font-family : "Lobster", cursive;
    font-size: 35px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

.container{
    padding-left: 50px;
}
